*{
    font-family:monospace;
    /* font-size: 15px; */
    color: rgb(0, 76, 94);
}
body{
    background-color: rgb(177, 229, 241);
    height: 100%;
}
.container{
    background-color: rgb(177, 229, 241);
    width: 100%;
    height: 100%;
}
h1{
    font-size: 80px;
    font-weight: bold;
    font-family: fantasy;
    margin-top: 80px;
    margin-bottom: 30px;
}
.list{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(241, 245, 247, 0.514);
    height: 500px;
    width: 100%;
    overflow: auto;
}
.PreValue{
    margin-left: 30px;
}
.modal-dialog{
    width: 1000px;
}